<html>
<head>
  <title>Edit </title>
  <meta http-equiv="refresh" content="30" />  
</head>
<body>
    <div class="page-header">
        <h3><a href="/" style="margin-left:35em;">Logout </a></h3>
		<h4><a href="{{changelist}}" style="margin-left:35em;">View changeslist </a></h4>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
             <h4>Code Here </h4>
               <form method="POST" class="post-form">{% csrf_token %}
			      {{ form.as_p }}
                 <button type="submit" style="margin-left:8em;" class="save btn btn-default">Compile</button>
               </form>
			   <br>
			   <h4> Compiler Outut </h4>
			   <textarea rows="10" cols="100">
                 {{ output }}
               </textarea>
            </div>
        </div>
		
    </div>
</body>
</html>




